form.form.result--form
	.form--title Оставьте свои контакты и получите подарок!
	input(type="text" placeholder="Имя" required)
	input(type="tel" placeholder="Телефон" required)
	input(type="email" placeholder="Электронная почта" required)
	button.button(type="submit") Отправить