form.form.result--form
	.form--title Оставьте свои контакты и получите подарок!
	input.form--input(type="text" placeholder="Имя" required)
	input.form--input(type="tel" placeholder="Телефон" required)
	input.form--input(type="email" placeholder="Электронная почта" required)
	button.button.button-color-white.form--button(type="submit") Отправить