.result {
	//
	&--title {
		text-align: center;
	}
	//
	&--sum {
		margin-top: 1rem;
	}
	//
	&--col {
		//
		@media (max-width: 767px) {
			&:nth-of-type(odd) {
				clear: both;
			}
		}
		//
		&-3 {
			//
			&::after {
				position: absolute;
				top: 52px;
				right: -15px;
				content: '';
				width: 10px;
				height: 18px;
				background: $sprite 0 -95px;
			}
		}
	}
	//
	&--itemTitle {
		@extend %itemTitle;
		//
		&::before {
			content: '';
			display: block;
			width: 65px;
			height: 65px;
			margin: 1.5rem 0 1.5rem 0;
			background: $sprite 0 -30px;
			//
			@media #{$sm} {
				margin-top: 3.5rem;
			}
		}
		//
		&-2 {
			//
			&::before {
				background-position: -65px -30px;
			}
		}
		//
		&-3 {
			//
			&::before {
				background-position: -130px -30px;
			}
		}
		//
		&-4 {
			//
			&::before {
				background-position: -195px -30px;
			}
		}
	}
	//
	&--item {
		color: black;
		margin-top: 0.5rem;
		font: {
			size: 0.8rem;
		}
	}
	//
	&--form {
		margin: 1.5rem 0 1.5rem 0;
		//
		@media #{$sm} {
			margin-top: 2rem;
		}
		@media #{$lg} {
			margin-top: -6.0rem;
		}
	}
	//
	/*Модификаторы*/
	//
	&-2 {
		.result--title {
			max-width: 70%;
			text-align: left;
		}
		//
		.result--itemTitle {
			@extend %itemTitle;
			//
			&::before {
				margin-top: 1.9rem;
				background-position: -260px -30px;
			}
			//
			&::after {
				content: '';
				position: absolute;
				top: 60px;
				left: 80px;
				display: inline-block;
				width: 100%;
				height: 2px;
				background: $colorRed;
			}
			//
			&-2 {
				//
				&::before {
					background-position: -325px -30px;
				}
			}
			//
			&-3 {
				//
				&::before {
					background-position: -390px -30px;
				}
			}
		}
	}
}