script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="global/js/jquery.fullpage.js")
script(src="global/js/jquery.fullpage.extensions.min.js")
script(src="global/js/scrolloverflow.js")
script(src="global/js/jquery.slimscroll.js")
