script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="global/js/jquery.fullpage.js")
script(src="global/js/wow.js")
script(src="blocks/header/header.js")
script(src="blocks/calculator/calculator.js")
