.header {
	height: 59px;
	padding: 15px 0;
	//
	&--logo {
		position: absolute;
		top: 9px;
	}
	//
	&--socialWrapper {
		display: table;
		margin: 0 auto;
	}
	//
	&--social {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin-right: 7px;
		background: $sprite;
		transition: .5s;
		//
		&:hover {
			transform: scale(0.9);
		}
		//
		&:nth-child(2n) {
			background-position: -38px 0;
		}
		&:last-child {
			background-position: -75px 0;
		}
	}
	//
	&--phone {
		display: none;
		//
		@media #{$xs} {
			position: absolute;
			top: 0;
			right: 68px;
			display: block;
			height: 100%;
			line-height: 59px;
			font: {
				weight: 900;
				size: 0.8rem;
			}
		}
	}
	//
	&--button {
		position: absolute;
		top: 21px;
		right: 17px;
		width: 26px;
		height: 14px;
		border-top: 2px solid #a2b0b7;
		cursor: pointer;
		//
		&:hover {
			border-top: 2px solid $colorRed;
			//
			&::before,
			&::after {
				background: $colorRed;
			}
		}
		//
		&::before {
			content: '';
			display: block;
			height: 2px;
			margin-top: 4px;
			background: #a2b0b7;
			transition: .5s;
		}
		//
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			display: block;
			width: 13px;
			height: 2px;
			background: #a2b0b7;
			transition: .6s;
		}
		//
		&-active {
			top: 15px;
			border: none !important;
			//
			&::after {
				width: 100%;
				transform: rotate(45deg);
				background: $colorRed;
			}
			//
			&::before {
				width: 100%;
				margin: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				transform: rotate(-45deg);
				background: $colorRed;
			}
		}
	}
}