.portfolio
	.portfolio--col.col-sm-6.js-animate.fadeInUp(data-wow-offset="100")
		.portfolio--item.portfolio--item-title
			h2.portfolio--title Портфолио
	.portfolio--col.col-sm-6.js-animate.fadeInUp(data-wow-offset="100" data-wow-delay="0.2s")
		.portfolio--item.portfolio--item-1
			a.portfolio--link(href="http://www.restopremia.ru")
				img.portfolio--logo(src="blocks/portfolio/img/logo_1.png", alt="Логотип")
				.portfolio--text
					«Ресторан Года» - самое долгожданное и вкусное событие года, в котором принимают участие самые известные кафе и рестораны Нижнего Новгорода;
	.portfolio--col.col-sm-6.js-animate.fadeInUp(data-wow-offset="100" data-wow-delay="0.4s")
		.portfolio--item.portfolio--item-2
			a.portfolio--link(href="http://tsvetynn.ru")
				img.portfolio--logo(src="blocks/portfolio/img/logo_2.jpg", alt="Логотип")
				.portfolio--text
					Масштабный строительный проект современного жилого комплекса «Цветы» от компании «Столица Нижний».
	.portfolio--col.col-sm-6.js-animate.fadeInUp(data-wow-offset="100" data-wow-delay="0.6s")
		.portfolio--item.portfolio--item-3
			a.portfolio--link(href="http://akvamarin-nn.ru")
				img.portfolio--logo(src="blocks/portfolio/img/logo_3.png", alt="Логотип")
				.portfolio--text
						Жилой комплекс «Аквамарин» реализуется на берегу реки Оки в Нижнем Новгороде.
