html,
body {
	font: {
		family: LatoRegular;
		size: 80%;
	}
	color: $colorBlack;
	//
	@media #{$xs} {
		font-size: 85%;
	}
	@media #{$sm} {
		font-size: 90%;
		line-height: 1.6rem;
	}
	@media #{$lg} {
		font-size: 100%;
	}
}

h1,
h2,
%h1_h2 {
	line-height: 2rem;
	font: {
		family: LatoBlack;
		size: 1.5rem;
	}
	//
	@media #{$xs} {
		font-size: 2rem;
	}
	@media #{$sm} {
		font-size: 2.5rem;
		line-height: 3rem;
	}
	@media #{$lg} {
		font-size: 3rem;
	}
}
h1 {
		@media #{$lg} {
		font-size: 4rem;
	}
}
%itemTitle {
	font: {
		family: LatoBlack;
		size: 1.2rem;
	}
	//
	@media #{$xs} {
		font-size: 1.2rem;
	}
	//
	@media #{$lg} {
		font-size: 1.5rem;
	}
}

.section {
	position: relative;
	min-width: 320px;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
	padding: 59px 0 59px 0;
	//
	&-noBottomPadding {
		padding-bottom: 0;
	}
	&-red {
		background: $colorRed;
	}
	//
	&-grey {
		background: $colorGrey;
	}
	//
	&-footer {
		padding-bottom: 65px;
	}
}

