html,
body {
	height: 100%;
	margin: 0;
	font: {
		family: LatoRegular;
		size: 80%;
	}
	line-height: 1.4rem;
	color: $colorBlack;
	//
	@media #{$xs} {
		font-size: 85%;
	}
	@media #{$sm} {
		font-size: 90%;
		line-height: 1.6rem;
	}
	@media #{$lg} {
		font-size: 100%;
	}
		@media #{$xl} {
		font-size: 110%;
	}
}

h1,
h2,
%h1_h2 {
	font: {
		family: LatoBlack;
		size: 1.5rem;
	}
	//
	@media #{$xs} {
		font-size: 2rem;
	}
	@media #{$sm} {
		font-size: 3rem;
	}
	@media #{$lg} {
		font-size: 4rem;
	}

}

%itemTitle {
	max-width: 195px;
	font: {
		family: LatoBlack;
		size: 1.2rem;
	}
	//
	@media #{$xs} {
		font-size: 1.6rem;
	}
}

.section {
	padding-top: 59px;
	&-red {
		background: $colorRed;
	}
}