$xs:'(min-width: 480px)';
$sm: '(min-width: 768px)';
$md: '(min-width: 992px)';
$lg: '(min-width: 1200px)';
$xl: '(min-width: 1600px)';
$colorRed: #eb242b;
$colorBlack: #181818;
$colorGrey: #ebebeb;
$sprite: url(../img/sprite.png);