.layout {
	position: relative;
	min-width: 320px;
	max-width: 1660px;
	margin: 0 auto;
	padding: 0 15px;
	//
	&::before,
	&::after {
		content: " ";
		display: table;
		clear: both;
	}
	//
	@media #{$lg} {
		padding: 0 25px;
	}
	//
	&-big {
		max-width: 2560px;
		margin: 0 auto;
		padding: 0;
	}
	//
	&-fixed {
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		max-width: 100%;
		width: 100%;
		background: white;
	}
	//
	&--header {
		position: relative;
		max-width: 1920px;
		margin: 0 auto;
	}
	//
	&--banner {
		position: relative;
	}
	//
	&--calculator {
		position: relative;
	}
	//
	&--stages {
		position: relative;
	}
}