nav.nav
	.nav--linkWrapper
		a.nav--link(href="http://r-top.ru/about.html") О компании
		a.nav--link(href="http://r-top.ru/projects.html") Портфолио
		a.nav--link(href="http://r-top.ru/jobs.html") Вакансии
		a.nav--link(href="http://r-top.ru/contact.html") Контакты
