.stages {
	text-align: center;
	//
	&--row {
		position: relative;
		margin-top: 3rem;
	}
	//
	&--item {
		position: relative;
		margin: 1rem auto 0 auto;
		background: white;
		width: 295px;
		height: 330px;
		padding: 40px 50px;
		//
		&-1 {
			z-index: 30;
			//
			@media #{$sm} {
				position: absolute;
				top: 0;
				left: 15px;
			}
		}
		//
		&-2 {
			z-index: 20;
			//
			@media #{$sm} {
				margin-top: 380px;
			}
			@media #{$md} {
				position: relative;
				top: 0;
				margin-top: 1rem;
			}
			@media #{$lg} {
				position: relative;
				top: 0;
				margin-top: 1rem;
				//
				&::before {
					//
					content: '';
					position: absolute;
					top: 175px;
					left: -300px;
					display: block;
					width: 300px;
					height: 2px;
					background: $colorRed;
					//
					@media (min-width: 1500px) {
						width: 500px;
						left: -500px;
					}
				}
				//
				&::after {
					content: '>';
					display: block;
					position: absolute;
					top: 163px;
					left: -16px;
					color: $colorRed;
					font-size: 33px;
				}
			}
		}
		//
		&-3 {
			//
			@media #{$sm} {
				position: absolute;
				top: 0;
				right: 15px;
			}
			@media #{$lg} {
				position: absolute;
				top: 0;
				right: 15px;
				//
				&::before {
					content: '';
					position: absolute;
					top: 175px;
					left: -300px;
					display: block;
					width: 300px;
					height: 2px;
					background: $colorRed;
					//
					@media (min-width: 1500px) {
						width: 500px;
						left: -500px;
					}
				}
				//
				&::after {
					content: '>';
					display: block;
					position: absolute;
					top: 163px;
					left: -16px;
					color: $colorRed;
					font-size: 33px;
				}
			}
		}
	}
	//
	&--number {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		font-family: LatoBlack;
		font-size: 330px;
		line-height: 365px;
		color: $colorGrey;
	}
	//
	&--itemTitle {
		position: relative;
		z-index: 20;
		font: {
			family: LatoBlack;
			size: 24px;
		}
		line-height: 25px;
	}
	//
	&--text {
		position: relative;
		z-index: 20;
		margin-top: 20px;
		font-size: 14px;
		line-height: 25px;
	}
}