.stages.layout--stages
	h2.stages--title Какие этапы работы?
	.stages--item.stages--item-1
		.stages--number 1
		.stages--itemTitle Расчет стоимости
		.stages--text
			Через SMM-калькулятор (выше) Вы получите примерную оценку SMM для своего проекта. Эта цифра в дальнейшем може

	.stages--item.stages--item-2
		.stages--number 2
		.stages--itemTitle Звонок и бриф
		.stages--text
			Наш специалист свяжется с Вами, ответит на вопросы, чтобы предоставить Вам полноценное коммерческое предложениеи окончательную стоимость

	.stages--item.stages--item-3
		.stages--number 3
		.stages--itemTitle Коммерческое предложение
		.stages--text
			Опираясь на Ваши потребности, мы формируем коммерческое предложение (стратегия развития, показатели эффективности и окончательная стоимость). Обсуждаем его и начинаем работу.