.footer {
	max-width: 1920px;
	margin: 0 auto;
	height: 59px;
	background: #181818;
	text-align: center;
	//
	&--scrollUp {
		position: relative;
		//
		&::after {
			content: '';
			position: absolute;
			top: 5px;
			border: 15px solid transparent;
			border-bottom: 15px solid white;
			transition: .5s;
		}
		//
		&:hover::after {
			transform: translateY(-2px);
		}
		&:active::after {
			transform: scale(0.9);
		}
	}
}