.calculator.layout--calculator
	h2.calculator--title Сколько стоит SMM?
		.calculator--number 01/
			.calculator--total 04
	.calculator--item.calculator--item_1.calculator--item_1-active
		.calculator--itemTitle Получаете ли Вы сейчас клиентов из социальных сетей?
		.calculator--choise
			input.calculator--choise_yes(type="radio" id="choise_1" name="item_1" value="да")
			label(for="choise_1") Да
		.calculator--choise
			input.calculator--choise_no(type="radio" id="choise_2" name="item_1" value="нет")
			label(for="choise_2") Нет
		button.button.button-bg-white.calculator--button.calculator--button_yes(type="submit") Далее1
		button.button.button-bg-white.calculator--button.calculator--button_no(type="submit") Далее2
	.calculator--item.calculator--item_2
		.calculator--itemTitle Какие инструменты Вы используете?
		.calculator--choise
			input(type="checkbox" id="choise_3" name="item_2" value="да")
			label(for="choise_3") Таргетированная реклама
		.calculator--choise
			input(type="checkbox" id="choise_4" name="item_22" value="нет")
			label(for="choise_4") Ведение группы компании
		.calculator--choise
			input(type="checkbox" id="choise_5" name="item_2222" value="нет")
			label(for="choise_5") Другое
		button.button.button-bg-white.calculator--button(type="submit") Далее
	.calculator--item.calculator--item_3
		.calculator--itemTitle В каких Социальных сетях работаете?
		.calculator--choise
			input(type="checkbox" id="choise_6" name="item_3" value="да")
			label(for="choise_6") Вконтакте
		.calculator--choise
			input(type="checkbox" id="choise_7" name="item_3" value="нет")
			label(for="choise_7") FaceBook
		.calculator--choise
			input(type="checkbox" id="choise_8" name="item_3" value="нет")
			label(for="choise_8") Instagram
		.calculator--choise
			input(type="checkbox" id="choise_9" name="item_3" value="нет")
			label(for="choise_9") Одноклассники
		button.button.button-bg-white.calculator--button(type="submit") Далее
	.calculator--item.calculator--item_4
		.calculator--itemTitle Какую цель вы ставите перед SMM?
		.calculator--choise
			input(type="checkbox" id="choise_10" name="item_1" value="да")
			label(for="choise_10") Трафик на сайт
		.calculator--choise
			input(type="checkbox" id="choise_11" name="item_1" value="нет")
			label(for="choise_11") Повторные продажи действующим клиентам
		.calculator--choise
			input(type="checkbox" id="choise_12" name="item_1" value="нет")
			label(for="choise_12") Поиск новых клиентов
		.calculator--choise
			input(type="checkbox" id="choise_13" name="item_1" value="нет")
			label(for="choise_13") Имидж и охват аудитории
		.calculator--choise
			input(type="checkbox" id="choise_14" name="item_1" value="нет")
			label(for="choise_14") Не отставать от конкурентов
		.calculator--choise
			input(type="checkbox" id="choise_15" name="item_1" value="нет")
			label(for="choise_15") Другое
		button.button.button-bg-white.calculator--button(type="submit") Далее
	.calculator--item.calculator--item_5
		.calculator--itemTitle Получаете ли Вы сейчас клиентов из социальных сетей?
		.calculator--choise
			input.calculator--choise_1(type="radio" id="choise_1" name="item_1" value="да")
			label(for="choise_1") Да
		.calculator--choise
			input.calculator--choise_1(type="radio" id="choise_2" name="item_1" value="нет")
			label(for="choise_2") Нет
		button.button.button-bg-white.calculator--button(type="submit") Далее
	.calculator--item.calculator--item_6
		.calculator--itemTitle Получаете ли Вы сейчас клиентов из социальных сетей?
		.calculator--choise
			input.calculator--choise_1(type="radio" id="choise_1" name="item_1" value="да")
			label(for="choise_1") Да
		.calculator--choise
			input.calculator--choise_1(type="radio" id="choise_2" name="item_1" value="нет")
			label(for="choise_2") Нет
		button.button.button-bg-white.calculator--button(type="submit") Далее
	.calculator--item.calculator--item_7
		.calculator--itemTitle Получаете ли Вы сейчас клиентов из социальных сетей?
		.calculator--choise
			input.calculator--choise_1(type="radio" id="choise_1" name="item_1" value="да")
			label(for="choise_1") Да
		.calculator--choise
			input.calculator--choise_1(type="radio" id="choise_2" name="item_1" value="нет")
			label(for="choise_2") Нет
		button.button.button-bg-white.calculator--button(type="submit") Далее
	.calculator--item.calculator--item_8
		.calculator--itemTitle Получаете ли Вы сейчас клиентов из социальных сетей?
		.calculator--choise
			input.calculator--choise_1(type="radio" id="choise_1" name="item_1" value="да")
			label(for="choise_1") Да
		.calculator--choise
			input.calculator--choise_1(type="radio" id="choise_2" name="item_1" value="нет")
			label(for="choise_2") Нет
		button.button.button-bg-white.calculator--button(type="submit") Далее