.calculator {
	color: white;
	//
	&--title {
		color: white;
		//
		&::after {
			content: '';
			display: none;
			//
			@media #{$sm} {
				position: absolute;
				right: 0;
				bottom: 15px;
				display: inline-block;
				width: 163px;
				height: 4px;
				background: white;
			}
		}
	}
	//
	&--number {
		@extend %h1_h2;
		position: absolute;
		top: 0;
		right: 0;
	}
	//
	&--total {
		@extend %h1_h2;
		display: inline-block;
		color: #b40c12;
	}
	//
	&--item {
		display: none;
		//
		&_1-active {
			display: block;
		}
		//
		&_2-active {
			display: block;
		}
		//
		&_3-active {
			display: block;
		}
		//
		&_4-active {
			display: block;
		}
		//
		&_5-active {
			display: block;
		}
		//
		&_6-active {
			display: block;
		}
		//
		&_7-active {
			display: block;
		}
		//
		&_8-active {
			display: block;
		}
	}
	//
	&--itemTitle {
		@extend %itemTitle;
		margin-top: 2.5rem;
		margin-bottom: 1.8rem;
		max-width: 100%;
	}
	//
	&--choise {
		margin-top: 0.5rem;
	}
	//
	input {
		width: 30px;
		height: 30px;
	}
	//
	label {
		position: relative;
		margin-left: 0.8rem;
		top: -9px;
	}
	//
	&--button {
		position: absolute;
		z-index: -100;
		margin-top: 2rem;
		transition: opacity .5s;
		opacity: 0;
		//
		&-active {
			position: relative;
			z-index: 100;
			opacity: 1;
		}
	}
}